<!-- Begin Footer -->
<footer id="footer" class="footer">
	<div class="row">
		<div class="logo logo-footer logo-gray pull-right"></div>
	</div>
	<div class="row">
		{% for block in site.footerBlocks %} {% assign colWidth = 12 | divided_by:
		forloop.length %}
		<div class="col-md-{{ colWidth }} col-xs-6">
			<h5>{{ block.title }}</h5>
			<ul>
				{% for linkElement in block.links %}
				<li>
					<a
						href="{% if linkElement.permalink != null %} {{ linkElement.permalink | prepend: site.baseurl }} {% else %} {{ linkElement.link }} {% endif %}"
						{%
						if
						linkElement.link
						!="null"
						%}target="_blank"
						{%
						endif
						%}
						>{{ linkElement.text }}</a
					>
				</li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<ul class="social-links">
				{% for social in site.socialLinks %}
				<li>
					<a
						href="{% if social.permalink != null %} {{ social.permalink | prepend: site.baseurl }} {% else %} {{ social.link }} {% endif %}"
						target="_blank"
					>
						<svg class="icon icon-{{ social.icon }}" viewBox="0 0 30 32">
							<use
								xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social.icon }}"
							></use>
						</svg>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row">
		<!-- Please don't delete this line-->
		<div class="col-md-6">
			<p class="copyright">
				&copy; 2023 Based on
				<a href="https://github.com/gdg-x/zeppelin" target="_blank"
					>Project Zeppelin</a
				>. Designed by the Technical and Communications Committee &middot;
				<a href="//stateofthemap.africa" target="_blank">SOTM Africa</a>
			</p>
		</div>
	</div>
</footer>
<!-- End Footer -->
