<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
	/>
	<meta name="author" content="SOTM Africa | Yaounde Cameroon 2023" />
	<meta name="description" content="{{ site.description }}" />
	<meta name="keywords" content="{{ site.metaKeywords }}" />
	<link rel="canonical" href="{{ site.url }}" />
	<!-- Social: Twitter -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="{{ site.twitterAccount }}" />
	<meta
		name="twitter:title"
		content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
	/>
	<meta name="twitter:description" content="{{ site.description }}" />
	<meta
		name="twitter:image:src"
		content="{{ site.socialImageSrcTwitter | prepend: site.baseurl | prepend: site.url }}"
	/>
	<!-- Social: Facebook / Open Graph -->
	<meta
		property="og:title"
		content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
	/>
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.url }}" />
	<meta
		property="og:image"
		content="{{ site.socialImageSrcFacebook | prepend: site.baseurl | prepend: site.url }}"
	/>
	<meta property="og:description" content="{{ site.description }}" />
	<title>
		{% if page.title %}{{ page.title }} &bull; {{ site.title }}{% else %}{{
		site.title }}{% endif %}
	</title>
	<link rel="shortcut icon" href="{{ "/img/favicons/favicon.ico" | prepend:
	site.baseurl }}"> <link rel="apple-touch-icon" sizes="152x152" href="{{
	"/img/favicons/apple-touch-icon-152x152.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{
	"/img/favicons/apple-touch-icon-144x144.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{
	"/img/favicons/apple-touch-icon-120x120.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{
	"/img/favicons/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{
	"/img/favicons/apple-touch-icon-76x76.png" | prepend: site.baseurl }}"> <link
	rel="apple-touch-icon" sizes="72x72" href="{{
	"/img/favicons/apple-touch-icon-72x72.png" | prepend: site.baseurl }}"> <link
	rel="apple-touch-icon" sizes="60x60" href="{{
	"/img/favicons/apple-touch-icon-60x60.png" | prepend: site.baseurl }}"> <link
	rel="apple-touch-icon" sizes="57x57" href="{{
	"/img/favicons/apple-touch-icon-57x57.png" | prepend: site.baseurl }}"> <link
	rel="icon" type="image/png" href="{{ "/img/favicons/favicon-196x196.png"
	sizes="196x196" | prepend: site.baseurl }}"> <link rel="icon" type="image/png"
	href="{{ "/img/favicons/favicon-160x160.png" sizes="160x160" | prepend:
	site.baseurl }}"> <link rel="icon" type="image/png" href="{{
	"/img/favicons/favicon-96x96.png" sizes="96x96" | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" href="{{ "/img/favicons/favicon-32x32.png"
	sizes="32x32" | prepend: site.baseurl }}"> <link rel="icon" type="image/png"
	href="{{ "/img/favicons/favicon-16x16.png" sizes="16x16" | prepend:
	site.baseurl }}">
	<meta name="msapplication-TileColor" content="#c7e5a5" />
	<meta name="msapplication-TileImage" content="{{
	"/img/favicons/mstile-144x144.png" | prepend: site.baseurl }}"> <meta
	name="msapplication-config" content="{{ "/img/favicons/browserconfig.xml" |
	prepend: site.baseurl }}">
	<meta name="theme-color" content="#c7e5a5" />
	<!--Leaflet -->
	<link
		rel="stylesheet"
		href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
		integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
		crossorigin=""
	/>
	<script
		src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
		integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
		crossorigin=""
	></script>
	<link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
